@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    margin-left: 20px;
     font-family: 'Lexend Deca', cursive;
}

h1 {
    font-family: 'Lexend Deca', cursive;
    font-size: 24px;
    color: #750079;
}

p{
    font-family: 'Lexend Deca', cursive;
    font-size: 16px;
    color: #000000;  
}

main{
    display: flex;
margin-left: 150px;
margin-top: 50px;
    height: 100vh;
}

input[type="email"],
input[type="password"] {
    width: 500px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Lexend Deca', cursive;
    margin-top: 5px;
    margin-bottom: 5px;
}

#forgot{
    color: #713374;
    text-decoration: none;
    font-size: 14px;
}

button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    margin-left: 400px;
    background: linear-gradient(135deg, #501F5B, #794C9E);
    color: white;
    border: none;
    font-family: "lexend deca", cursive;
    font-size: 14px;
}